BUILD_ENV = # dev, unstable, training, production

MONGO_URI = # your connection string here
PORT = # desired port number

JWT_SECRET = # your secret string
JWT_LIFETIME = # in mins, hours or days

MOEIS_INTEGRATION_URL_JPN = # MOEIS integration url JPN
MOEIS_INTEGRATION_URL_SEKOLAH = # MOEIS integration url sekolah
MOEIS_INTEGRATION_URL_SINGLE_SEKOLAH = # MOEIS integration url single sekolah
MOEIS_INTEGRATION_URL_PELAJAR = # MOEIS integration url pelajar
MOEIS_INTEGRATION_URL_SINGLE_PELAJAR = # MOEIS integration url single pelajar
MOEIS_APIKEY = # APIKEY for MOEIS integration
MOEIS_APIKEY_MOCKER = # APIKEY for MOEIS mocker

OWN_MIDDLEWARE_MOEIS_APIKEY = # this moeisAuth middleware APIKEY

MANUAL_ETL_SECRET = # your preferred etl secret string
MANUAL_REFRESH_TOKENS_SECRET = # your preferred refresh tokens key

GENERATE_WORKERS = # number of queue workers for generating retens. defaults to 5

EMAILER_HOST = # key sender email host
EMAILER_PORT = # key sender email port
EMAILER_ACCT = # key sender email account
EMAILER_PASS = # key sender email password

# MyVas env

MYVAS_PORTAL_URL = # your application url
MYVAS_SESSION_SECRET = # your secret string

MYVAS_SECRET = # your secret string
MYVAS_REDIRECT_URI = # your redirect uri
MYVAS_AUTH_SERVER = # your auth server
MYVAS_LANDING_PAGE = # your landing page
MYVAS_CLIENT_ID = # your client id
MYVAS_SCOPE = # your scope

MYVAS_AUTH_ENDPOINT = # your auth endpoint
MYVAS_TOKEN_ENDPOINT = # your token endpoint
MYVAS_LOGOUT_ENDPOINT = # your logout endpoint

MYVAS_APP_TOKEN = # your app token
MYVAS_ID_TOKEN = # your id token
MYVAS_NEW_LANDING = # your new landing page

MYVAS_API_ENDPOINT = # your api endpoint
MYVAS_API_APPOINTMENT = # your api appointment endpoint
MYVAS_CALLBACK = # your callback endpoint
