# core
/node_modules
.env
/data

# config file for graphql development
graphql.config.json
/.idea

# logs file
/logs/*.log

# cypress test
cypress.env.json
/cypress/screenshots
/cypress/videos

# k6 test
k6-load-test.js

# postman like test
/thunder-tests
/.vscode
