/node_modules
.env
multiSeederOperator.js
multiSeederFasiliti.js

# register user
/routes/authRegister.js
/controllers/authRegister.js

# config file for graphql development
graphql.config.json
/.idea