# core
/node_modules
.env
/data

# config file for graphql development
graphql.config.json
/.idea

# logs file
/logs/*.log

# cypress test screenshots & videos
/cypress.env.json
/cypress/screenshots
/cypress/videos

# postman like test
/thunder-tests
/.vscode