extends layout

block content
  .uk-container
    h1(align='center')= title
    h3(align='center')= tadika
  .uk-divider-icon
  .uk-container 
  form(method='POST' action='tadika/reten')
   fieldset.uk-fieldset
    .uk-margin
        legend.uk-legend Jenis Reten:
        br
        input.uk-radio(type='radio', name='jenisReten', value='CRA', checked='')
        label(for="CRA") PGPS 2/201
        br
        input.uk-radio(type='radio', name='jenisReten', value='PG201')
        label(for="pg201") PG201A
        br
        input.uk-radio(type='radio', name='jenisReten', value='PG207')
        label(for="pg207") Caries Risk Assessment
        br
        input.uk-radio(type='radio', name='jenisReten', value='PG207')
        label(for="pg207") CPPC 1
        br
        input.uk-radio(type='radio', name='jenisReten', value='PG207')
        label(for="pg207") CPPC 2
        br
        input.uk-radio(type='radio', name='jenisReten', value='PG207')
        label(for="pg207") TOD
        |
        br
        br
        input(type='hidden', name='tadikaNama', value= tadika)
        button.uk-button.uk-button-default Submit

  if errors
    ul
      for error in errors
        li!= error.msg