extends layoutgen 

block content
  .uk-container
    h1(align='center')= title
  .uk-divider-icon
  .uk-container 
  form(method='POST' action='')
   fieldset.uk-fieldset
    legend.uk-legend Negeri
    .uk-margin
      select.uk-select(type='select' placeholder='Pilih tadika' name='tadikaNama' required='true' )
        each val in tadikas
          option(value=val label=val)
    .uk-divider-icon
    .uk-margin 
        legend.uk-legend Jenis Reten:
        br
        input.uk-radio(type='radio', name='jenisReten', value='CRA', checked='')
        label(for="CRA")  CRA
        br
        input.uk-radio(type='radio', name='jenisReten', value='PG201')
        label(for="pg201")  PG201
        br
        input.uk-radio(type='radio', name='jenisReten', value='PG207')
        label(for="pg207")  PG207
        |
        br
        br
        button.uk-button.uk-button-default Submit

  if errors
    ul
      for error in errors
        li!= error.msg