extends layoutgen 

block content
  h1= title

  form(method='POST' action='')

    div.form-group
      label(for='tadika') Tadika:
      select#tadika.form-control(type='select' placeholder='Pilih tadika' name='tadikaNama' required='true' )
        each val in tadikas
          option(value=val label=val)

    div.form-group
        br
        label(for="jenisReten") Jenis Reten:
        br
        input(type='radio', name='jenisReten', value='CRA', checked='')
        label(for="CRA")  CRA
        br
        input(type='radio', name='jenisReten', value='PG201')
        label(for="pg201")  PG201
        br
        input(type='radio', name='jenisReten', value='PG207')
        label(for="pg207")  PG207

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg