extends layoutgen 

block content
  h1= title

  form(method='POST' action='')

    div.form-group
        br
        label(for="namaReten") Jenis File:
        br
        input(type='radio', name='jenisFile', value='CSV', checked='')
        label(for="CSV") CSV
        br
        input(type='radio', name='jenisFile', value='Excel')
        label(for="Excel") Excel
        

    button.btn.btn-primary(type='submit') Submit

    
  if errors
    ul
      for error in errors
        li!= error.msg