doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/resources/style.css')
  // UIkit CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css')
  // UIkit JS
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit.min.js')
  script(src='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit-icons.min.js')
  title Hello, world!
.nav-container
  button.uk-button.uk-button-default.uk-margin-small-right(type='button' uk-toggle='target: #offcanvas-usage') M
  #offcanvas-usage(uk-offcanvas='overlay: true')
    .uk-offcanvas-bar
      button.uk-offcanvas-close(type='button' uk-close='')
      h3 Menu Laman Penghasilan Reten
      ul.uk-nav.uk-nav-default
        li.uk-active
          a(href='./modules/dashboard.html') Laman Utama
        li
          a(href='/generate') Laman Generate
        li
          a(href='/generate/main/senaraidata') Senarai pelajar tadika
        li
          a(href='/generate/main/pindahData') Download Semua Data
        li
          a(href='/generate/main/overview') Overview Mengikut Negeri
        li
          a(href='/generate/main/pilihreten') Hasilkan Reten

block content
