extends layoutgen 

block content
  h1= title

  form(method='POST' action='/generate/main/overview')

    div.form-group
      label(for='negeri') Negeri:
      select#negeri.form-control(type='select' placeholder='Pilih negeri' name='negeri' required='true' )
        each val in negeri
          option(value=val label=val)
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg