extends layoutgen 

block content
  .uk-container
    h1(align='center')= title
  br  
 
  .uk-container 
  form(method='POST' action='')
   fieldset.uk-fieldset
    legend.uk-legend Negeri
    .uk-margin
      select.uk-select(type='select' placeholder='Pilih negeri' name='negeri' required='true')
        each val in negeri
          option(value=val label=val)    
    button.uk-button.uk-button-default Submit

  if errors
    ul
      for error in errors
        li!= error.msg