:root {
  --color-1: #58408f;
  --color-2: #1f315f;
  --color-3: #9ebcdf;
  --color-4: #e1e9ef;
  --color-5: #d9693f;
  --color-6: #f32f2f;
  --color-7: white;
  --transition: all 0.3s linear;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --radius: 0.25rem;
}

/* global */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-transform: capitalize;
}

.user-canvas {
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  color: var(--color-7);
  text-decoration: none;
}

/* user header */
.user-header-container {
  position: absolute;
  z-index: 0;
  background-color: var(--color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
}

.jata-container {
  justify-content: center;
  text-align: center;
  margin-right: 5rem;
  padding: 1rem;
  position: relative;
  right: -3rem;
}

.jata-container p {
  color: var(--color-4);
  text-transform: uppercase;
  font-size: 0.7rem;
}

.text-container h1 {
  color: var(--color-4);
}

/* user header logged in */
.user-header-logout-button {
  position: relative;
  left: 340px;
  top: -77px;
}

.user-header-gambar img {
  position: relative;
  bottom: -2rem;
  left: 7rem;
  border-radius: 3rem;
}

.user-header-info {
  color: var(--color-7);
  position: relative;
  bottom: 3rem;
  left: 15rem;
}

/* user navbar */
.nav-container {
  position: absolute;
  z-index: 1;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

.nav-toggle {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: var(--color-2);
  border-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
}

.links {
  list-style-type: none;
}

.links a {
  display: block;
  padding: 0.5rem;
  transition: var(--transition);
}

.links-container {
  background-color: var(--color-2);
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  width: 100%;
}

.links li {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0.5rem;
  text-align: center;
  background-color: var(--color-3);
  border-style: solid;
  border-color: var(--color-3);
  box-shadow: var(--shadow);
  /* further research for var border-radius why not working?? */
  border-radius: var(--radius);
}

.links li:hover {
  background-color: var(--color-1);
  border-color: var(--color-1);
  transition: var(--transition);
}

/* user login form */
.user-form-container {
  background-color: var(--color-4);
  width: auto;
  height: 43rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.user-form-box {
  background-color: var(--color-7);
  width: 500px;
  height: 180px;
  padding: 20px;
}

.user-form-box-header {
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
}

.user-form-box-header-text {
  text-transform: uppercase;
}

.user-form-box-container {
  align-items: center;
  align-content: center;
  align-self: center;
}

.user-form-box-input {
  width: 250px;
  height: 15px;
  border-radius: var(--radius);
  border: 1px solid grey;
  padding: 5px;
  display: block;
  margin: 0 auto;
}

.link-lupa {
  color: var(--color-6);
  font-size: small;
  position: relative;
  left: 6.8rem;
  bottom: 1.2rem;
}

.user-form-box-submit {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100px;
  height: 30px;
  border-radius: var(--radius);
  border: 1px solid grey;
  padding: 5px;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

/* user footer */
.user-footer-container {
  background-color: var(--color-3);
  width: auto;
  height: 50px;
}

.user-footer-container span {
  text-transform: uppercase;
}

.right-text {
  color: var(--color-7);
  font-size: 16px;
  float: right;
  padding-top: 16px;
  padding-right: 80px;
}

.left-text {
  color: var(--color-7);
  font-size: 16px;
  float: left;
  padding-top: 16px;
  padding-left: 50px;
}

/* user body */
.user-selamat-datang {
  background-color: var(--color-4);
  width: auto;
  height: 43rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-selamat-datang-container {
  background-color: var(--color-7);
  width: 65rem;
  height: 30rem;
  top: 5rem;
  text-align: center;
  position: relative;
  border-radius: var(--radius);
  border: #0f0f0f solid 1px;
}

/* user pilih nama */
.user-pilih-nama-header {
  margin: 5rem;
}

.user-form-pilih-nama-pengguna-container {
  margin: 3rem;
}

.user-pilih-nama-pengguna-option {
  margin: 3rem;
}

.user-pilih-nama-pengguna-btn {
  margin: 3rem;
}

/* user pilih fasiliti */

.user-pilih-fasiliti-header {
  margin: 5rem;
}

.user-form-pilih-fasiliti-container {
  margin: 3rem;
}

.user-pilih-fasiliti-option {
  margin: 3rem;
}

.user-pilih-fasiliti-btn {
  margin: 3rem;
}

/* user dashboard */
.jumlah-data-entri-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
}

.jumlah-kedatangan-container {
  border: solid 0.1rem black;
  margin: 0.1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.taska-container {
  border: solid 0.1rem black;
  margin: 0.1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.taska-container h4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.pra-sekolah-container {
  border: solid 0.1rem black;
  margin: 0.1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.pra-sekolah-container h4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.sekolah-menengah-container {
  border: solid 0.1rem black;
  margin: 0.1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.sekolah-menengah-container h4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.klinik-pergigian-container {
  border: solid 0.1rem black;
  margin: 0.1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.tadika-container {
  border: solid 0.1rem black;
  margin: 0.1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.tadika-container h4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.sekolah-rendah-container {
  border: solid 0.1rem black;
  margin: 0.1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.sekolah-rendah-container h4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.institusi-container {
  border: solid 0.1rem black;
  margin: 0.1rem;
  display: grid;
  grid-template-columns: auto auto;
}

.institusi-container h4 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.status-kesihatan-pergigian-pelajar-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.status-kesihatan-pergigian-pelajar-container select {
  margin-left: 1rem;
  margin-right: 50rem;
  grid-column-start: 1;
  grid-column-end: 6;
}

.ranking-pencapaian-kesihatan-pergigian-sekolah-container {
	background-color: red;
}