.filter-btn-taska-tadika {
    white-space: normal;
    word-wrap: break-word;
    padding: 1rem;
}

.nama-taska-tadika-current-selected {
    text-align: center;
    background-color: var(--background-header-and-form);
    color: var(--white-text);
    padding: 0.5rem;
    border: none;
    position: relative;
    border-top: var(--upper-border-header) solid;
    width: 100%;
    max-width: 95%;
    margin: auto;
    margin-top: 1rem;
    display: none;
    font-weight: bold;
    text-transform: uppercase;
}

.single-nama-person-tadika-container {
    background-color: var(--background-header-and-form);
    border-bottom: var(--white-text) solid 0.1rem;
    display: flex;
    width: 100%;
    max-width: 95%;
    margin: auto;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nama-person {
    width: 60%;
    text-align: left;
}

.kelas-person {
    width: 40%;
    text-align: left;
}

.person-tadika-edit-delete {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
}

.edit-link-person-tadika, .btn-delete-person-tadika {
    background: transparent;
    font-size: 1rem;
    border: transparent;
    cursor: pointer;
}

.edit-link-person-tadika {
    color: var(--modify-btn);
}

.btn-delete-person-tadika {
    color: var(--delete-btn);
}

.edit-link-person-tadika:hover, .btn-delete-person-tadika:hover {
    color: var(--white-text);
}

/* ----------------------find modal---------------------- */

.find-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(111, 212, 240, 0.5);
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -10;
}

/* open or close find-modal */
.open-modal {
    visibility: visible;
    z-index: 10;
}

.find-modal-container {
    background: var(--background-global);
    color: var(--white-text);
    border-radius: var(--radius);
    width: 85%;
    height: 40%;
    position: relative;
}

.find-modal-input-and-btn-find {
    display: flex;
}

.find-modal-input-nama {
    margin: 3rem;
    margin-top: 5rem;
    width: 1rem;
    height: 2.5rem;
}

.find-modal-btn-find {
    text-transform: uppercase;
    background-color: transparent;
    border-style: solid;
    margin: 3rem;
    margin-top: 5rem;
    padding: .5rem;
    width: 6rem;
    transition: var(--transition);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    border-radius: var(--radius);
    color: var(--find-btn);
    border-color: var(--find-btn);
}

.find-modal-btn-find:hover {
    background-color: white;
}

.find-modal-loading-text {
    text-align: center;
    display: none;
}

.find-modal-btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--find-btn);
    cursor: pointer;
    transition: var(--transition);
}

.find-modal-btn-close:hover {
    color: red;
}