:root {
  --color-1: #8c0d3c;
  --color-2: #c44058;
  --color-3: #e79595;
  --color-4: #ffefd6;
  --color-5: #0f0f0f;
  font-family: 'Segoe UI', 'Frutiger', 'Frutiger Linotype', 'Dejavu Sans',
    'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
}

body {
  text-transform: capitalize;
}

.admin-header-container {
  background-color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jata-container {
  justify-content: center;
  text-align: center;
  margin-right: 5rem;
  padding: 1rem;
}

.jata-container p {
  color: var(--color-4);
  text-transform: uppercase;
  font-size: 0.7rem;
}

.text-container h1 {
  color: var(--color-4);
}
