:root {
  --color-1: #8c0d3c;
  --color-2: #c44058;
  --color-3: #e79595;
  --color-4: #ffefd6;
  --color-5: #0f0f0f;
  --color-6: white;
  --transition: all 0.3s linear;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --radius: 0.25rem
  font-family: 'Segoe UI', 'Frutiger', 'Frutiger Linotype', 'Dejavu Sans',
    'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
}

/* global */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-transform: capitalize;
}

.admin-canvas {
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  color: var(--color-6);
  text-decoration: none;
}

/* admin header */
.admin-header-container {
  position: absolute;
  z-index: 0;
  background-color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  width: 100%;
}

.jata-container {
    justify-content: center;
    text-align: center;
    margin-right: 5rem;
    padding: 1rem;
    position: relative;
    right: -3rem;
}

.jata-container p {
  color: var(--color-4);
  text-transform: uppercase;
  font-size: 0.7rem;
}

.text-container h1 {
  color: var(--color-4);
}

/* admin header logged in */
.admin-header-logout-button {
    position: relative;
    left: 340px;
    top: -85px;
}

.admin-header-gambar img {
  position: relative;
  bottom: -2.5rem;
  left: 7rem;
  border-radius: 3rem;
}

.admin-header-info {
    color: var(--color-6);
    width: 5rem;
    position: relative;
    bottom: 2.5rem;
    left: 14rem;
    font-size: small;
}

/* admin navbar */
.nav-container {
  position: absolute;
  z-index: 1;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

.nav-toggle {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: var(--color-1);
  border-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
}

.links {
  list-style-type: none;
}

.links a {
  display: block;
  padding: 0.5rem;
  transition: var(--transition);
}

.links-container {
  background-color: var(--color-1);
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  width: 100%;
}

.links li {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0.5rem;
  text-align: center;
  background-color: var(--color-1);
  border-style: solid;
  border-color: var(--color-1);
  box-shadow: var(--shadow) ;
  /* further research for var border-radius why not working?? */
  border-radius: 0.25rem; 
}

.links li:hover {
  background-color: var(--color-2);
  border-color: var(--color-2);
  transition: var(--transition);
}

/* admin login form */
.admin-form-container {
  background-color: var(--color-4);
  width: auto;
  height: 43rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.admin-form-box {
  background-color: var(--color-6);
  width: 500px;
  height: 180px;
  padding: 20px;
}

.admin-form-box-header {
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
}

.admin-form-box-header-text {
  text-transform: uppercase;
}

.admin-form-box-container {
  align-items: center;
  align-content: center;
  align-self: center;
}

.admin-form-box-input {
  width: 250px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  display: block;
  margin: 0 auto;
}

.link-lupa {
  color: var(--color-2);
  font-size: small;
  position: relative;
  left: 6.8rem;
  bottom: 1.2rem;
}

.admin-form-box-submit {
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

/* admin footer */
.admin-footer-container {
  background-color: var(--color-3);
  width: auto;
  height: 50px;
}

.admin-footer-container span {
  text-transform: uppercase;
}

.right-text {
  color: var(--color-6);
  font-size: 16px;
  float: right;
  padding-top: 16px;
  padding-right: 80px;
}

.left-text {
  color: var(--color-6);
  font-size: 16px;
  float: left;
  padding-top: 16px;
  padding-left: 50px;
}

/* admin body */
.admin-selamat-datang {
  background-color: var(--color-4);
  width: auto;
  height: 43rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-selamat-datang-container {
  background-color: var(--color-6);
  width: 65rem;
  height: 30rem;
  top: 5rem;
  text-align: center;
  position: relative;
  border-radius: 2rem;
  border: #0f0f0f solid 1px;
}

.admin-selamat-datang-container-text {
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  top: 10rem;
  position: relative;
}

/* Admin Table */
.admin-table {
  position: relative;
  top: 2rem;
}
.admin-table-container {
  /* background-color: var(--color-4); */
  /* width: 60rem; */
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-table-header-container table {
  /* font-size:16px; */
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  /* border-collapse: collapse; */
  /* border-spacing: 0; */
  top: 1.5rem;
  width: 90%;
  border-radius: 1rem;
  position: relative;
}

.admin-table-header-container td, th {
  text-align: left;
  padding: 8px;
}

.admin-table-header-container th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: var(--color-3);
  color: rgb(77, 77, 77);
}

.admin-table button {
  z-index: 1;
  background-color: var(--color-3);
  color: white;
  left: 27rem;
  bottom: 11.5rem;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: relative;
}

/* admin add pegawai modal */
.admin-pegawai-handler-container {
  border: #0f0f0f solid 2px;
  width: 30rem;
  height: 30rem;
}
.admin-pegawai-handler-top-text {
  background-color: var(--color-3);
  text-transform: uppercase;
  font-size: 0.6rem;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 1rem;
}

.admin-pegawai-handler-input {
  /* width: 100%; */
  /* height: 15px; */
  border-radius: 5px;
  /* border: 2px solid rgb(5, 5, 5); */
  /* padding: 5px; */
  /* display: block; */
  margin: 0 auto;
  top: 2rem;
  position: relative;
  /* align-content: ; */
  /* justify-items: left; */
}

.admin-pegawai-handler-input input {
  width: 20rem;
  height: 1.5rem;
}

.admin-pegawai-handler-input p {
  position: relative;
  left: 4.7rem;
  text-align: left;
}

.admin-pegawai-handler-input select {
  position: relative;
  /* right: 7.4rem; */
  height: 1.5rem;
  width: 20rem;
  /* align-self: center; */
}

.admin-pegawai-handler-legend table {
  /* top: 1.5rem; */
  bottom: 5.5rem;
  /* width: 90%; */
  /* border-radius: 1rem; */
  position: relative;
  border: #0f0f0f solid 1px;
  left: 22rem;
}

.admin-pegawai-handler-legend td, th {
  text-align: left;
  padding: 8px;
}

.admin-pegawai-handler-container th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: var(--color-3);
  color: rgb(77, 77, 77);
}

.admin-pegawai-handler-button button{
  background-color: var(--color-3);
  color: white;
  /* left: 27rem; */
  top: 7.8rem;
  /* padding: 5px; */
  margin: 5px;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  width: 100px;
  height: 35px;
  position: relative;
}